[Desktop Entry]
Type=Application
Name=Alacritty
GenericName=Terminal
Comment=A fast, cross-platform, OpenGL terminal emulator
TryExec=/home/lumbrjx/.cargo/bin/alacritty
Exec=/home/lumbrjx/.cargo/bin/alacritty
Icon=Alacritty
Terminal=false
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;commandline;cmd;
